// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body, html{
    margin:0;
    padding:0;
}

.header {
    height: 50px;
    background-color: rgba(0, 0, 0, 0.5);
}

.header .nav_link {
    padding-right: 10px;
    margin-top: 10px;
}

.header .nav_link a {
    color: white;
    text-decoration: none;
    font-size: 14pt;
}

.logo {
    padding-left: 20px;
    margin-top: 0px;
    font-size: 30pt;
}

.logo a {
    color: white;
    text-decoration: none;
}

.custom-combobox {
    position: relative;
    display: inline-block;
}

.custom-combobox-toggle {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: -1px;
    padding: 0;
}

.custom-combobox-input {
    margin: 0;
    padding: 5px 10px;
}

.ui-button-text-only {
    background: none;
    padding: 5px;
    width: 50px;
}

#login_background {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: 5000;
    background: rgba(0, 0, 0, 0.5);
    visibility: hidden;
    display: none;
}

#loginform {
    width: 22vw;
    height: 58vh;
    background-color: #FFFFFF;
    border-radius:3px;
    visibility:hidden;
    display:none;
    opacity: 1;
    z-index: 10000;
}

#fb_button {
    width: 95%;
    color: black;
    cursor: pointer;
    background-image: image-url('fb-icon.jpg');
    background-color: transparent; /* make the button transparent */
    background-repeat: no-repeat;  /* make the background image appear only once */
    background-position: 2px 2px;  /* equivalent to 'top left' */
    background-size: 34px;
    height: 40px;           /* make this the size of your image */
    padding-left: 34px;     /* make text start to the right of the image */
    vertical-align: middle; /* */
}

#login_form {
    margin: 10px;
}

input.login_field {
    padding: 5px;
    font-size: 12pt;
    width: 90%;
}

#login_button {
    width: 140px;
    background: #48CB3A;
    color: black;
    cursor: pointer;
}

#register_form {
    margin: 10px;
}

#register_button {
    width: 140px;
    background: #48CB3A;
    color: black;
    cursor: pointer;
}

.find_background {
    padding: 20px;
}

main#main_page {
    background-image: image-url('fon1.jpg');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: 100%;
}

#become_a_guide {
    opacity: 1;
    background: none;
    width: 180px;
    color: white;
    margin-top: 5px;
    font-weight: bold;
    font-size: 14pt;
    cursor: pointer;
}

#login_link {
    opacity: 1;
    background: none;
    width: 70px;
    color: white;
    margin-top: 5px;
    margin-right: 20px;
    cursor: pointer;
}

.find_div {
    width: 90wh;
    padding: 20px;
    background-color: rgba(130, 130, 130, 0.7);
}

input#city, input#arrive, input#depart {
    background: white;
    padding: 5px;
    opacity: 1;
}

input#go {
    background: red;
    opacity: 1;
    color: black;
    cursor: pointer;
}

#become_a_guide_promo {
    height: 100vh;
    width: 99wh;
    background-color: #EDEFED;
    font-family: Geneva, Arial, Helvetica, sans-serif;
}

#listlist {
    padding-left: 20vw;
}

.search-page {
    min-height:100vh;
}

.search-controls {
    margin-top: 10px;
    margin-left: 20px;
}

#extra-parameters-hidden {
    margin-top: 5px;
}

.search-result {
    padding: 5px;
    width: 98%;
    margin: 4px;
    overflow: auto;
    background: #eeeeee;
    cursor: pointer;
}

.search-result-about {
    text-overflow: ellipsis;
}

.table-wrapper {
    position:relative;
    margin-left: 20px;
}

.routes-page {
    position:relative;
    margin: 0px;
}

.table-scroll {
    width: 50%;
}

.table-scroll-60 {
    width: 60%;
}

.search-result-table a {
    color: #0047AB;
    text-decoration: none;
}

#button_edit {
    width: 100px;
    color: black;
    background: #40c040;
    cursor: pointer;
}

#button_delete {
    width: 100px;
    color: black;
    background: #d55151;
    cursor: pointer;
}

#button_new_route {
    width: 160px;
    color: black;
    margin-top: 20px;
    cursor: pointer;
//    background: #ffbf29;
}

#button_book {
    width: 100px;
    color: black;
    background: #ffbf29;
    cursor: pointer;
}

#button_msg {
    width: 100px;
    color: black;
    background: #5FCC4F;
    cursor: pointer;
}

#sticky {
    background-color: #eeeeee;
    margin: 4px;
    overflow: auto;
}

#sticky.stick {
    position: fixed;
}

#sticky.stick_bottom {
    position: absolute;
}

.route-full-description {
    margin: 20px;
    text-align: justify;
    text-indent: 20px;
}

.bx-wrapper {
    margin-left: 20px;
}

.bx-viewport {
    margin-left: 50px;
}

#route_name_full {
    margin: 10px;
    font-size: 16pt;
}

.hidden:hover {
    opacity: 1;
}

.search-result-extra:hover .hidden {
    opacity: 0.5;
}

.hidden {
    opacity: 0;
}

.search-result-extra a {
    color: #0047AB;
    text-decoration: none;
}
