<h1>New Book Man</h1>

<% if @not_fb2 %>
<div id="error_explanation">
    Please, upload .fb2 or .fb2.zip files only
</div>
<% end %>

<%= form_tag({:action => 'new'}, :multipart => true) do %>
    <p>
        <label for="upload_file">Select File</label>
        <%= file_field 'upload', 'datafile' %>
    </p>
    <%= submit_tag "Upload" %>
<% end %>

<%= link_to 'Back', books_path %>
