.left_icon.fl_l {
    display: none !important;
}

body {
    background: white;
}

.left_menu_nav_wrap {
    display: none !important;
}

#profile_friends_online {
    display: none !important;
}

#feed > div.narrow_column_wrap {
    display: none !important;
}

#content > div > div.narrow_column_wrap {
    display: none !important;
}

#al_feed\2e php > div.narrow_column_wrap {
    display: none !important;
}

#profile_edit_act {
        display: none !important;
}

#wide_column > div:nth-child(1) > div.counts_module {
        display: none !important;
}

#page_current_info {
    display: none !important;
}

.left_fixer {
    margin-left: 10px;
}

#side_bar_inner {
    width: 110px;
}

#profile_common_friends {
    display: none !important;
}

#profile_gifts {
        display: none !important;
}

#ui_rmenu_unread {
    display: none !important;
}

#ui_rmenu_fav {
    display: none !important;
}

#top_profile_link > img {
    display: none !important;
}

#top_profile_link > div.top_profile_name {
    display: none !important;
}

#im--page > div.im-page--history.page_block._im_page_history > div.im-page-history-w > div.im-page--header-chat._im_dialog_actions {
    border-top: solid 1px #edeef0;
}

#im--page > div.im-page--history.page_block._im_page_history > div.im-page-history-w > div.im-page--chat-input._im_chat_input_w {
    border-bottom: solid 1px #edeef0;
}

#l_fr > a > span > span.left_label.inl_bl {
    display: none !important;
}

#l_nwsf > a > span > span.left_label.inl_bl {
    display: none !important;
}

#page_layout {
    width: 1060px;
}

#main_feed > div.wall_module.page_block.feed_post_field_wrap {
    display: none !important;
}

#feed_rows {
    width: 700px;
}

div.im-page--dialogs-footer {
    display: none !important;
}

.im-page--nav-photo {
    display: none !important;
}

.im-page--aside-photo {
    display: none !important;
}

div.im-page--back > a {
    color: white;
}

div.im-page--back > a:hover {
    color: #edeef0;
}

.im-chat-input .im-chat-input--text {
    min-height: 72px;
}

.im-chat-input .im-chat-input--selector {
    top: 1px;
}

.im-send-btn.im-send-btn_audio {
    top: -2px;
}

.im-chat-input .im-chat-input--send {
    top: -2px;
}

.im-chat-input .im-chat-input--attach {
    top: 8px;
}

.im-chat-input .im-chat-input--smile-wrap {
    top: 8px;
}

.im-page--title-main {
    display: none !important;
}

#stories_feed_wrap {
    display: none !important;
}

#l_spr {
    display: none !important;
}

#profile_friends > div {
    display: none !important;
}

#profile_idols > div.module_body.clear_fix {
    display: none !important;
}

.profile_rate_warning {
        display: none !important;
}

#profile_albums > div.module_body.clear_fix {
    display: none !important;
}

#profile_videos > div {
    display: none !important;
}

#narrow_column > div:nth-child(2) {
    margin: 0px 0 0;
}

#narrow_column > div:nth-child(3) {
    margin: 0px 0 0;
}

#narrow_column > div:nth-child(4) {
    margin: 0px 0 0;
}

span.header_count {
    margin: -3px 0 0;
}

span.header_label {
    margin: -3px 0 0;
}

#profile_friends > a.header_right_link.fl_r {
    display: none !important;
}

a.ui_actions_menu_item.page_action_subscribe.page_actions_item {
        display: none !important;
}

.ui_actions_menu_sep {
        display: none !important;
}
