<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            font-family: 'Courier New', monospace;
            white-space: pre;
            display: grid;
        }
        .left {
            float: left;
        }
    </style>
</head>
<body>
    <form action="/docs/new">
        <input type="submit" value="New"/>
    </form>
    <% @docs.each do |d| %>
        <a href="/docs/<%=d.id%>"><%= d.name %></a>
    <% end %>
</body>
