<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            font-family: 'Courier New', monospace;
            white-space: pre;
            display: grid;
        }
        .left {
            float: left;
        }
    </style>
</head>
<body>
    <a href="/">Home</a>
    
    <div>
        <form action="/docs/<%= @doc.id %>/edit" method="get">
            <b class="left"><%= @doc.name %></b> <input type="submit" value="Edit"/>
        </form>
    </div>
    <div><%= @doc.data %></div>
</body>
