<!DOCTYPE html>
<html>
<head>
    <style>
        body {
          font-family: 'Courier New', monospace;
          white-space: pre;
          display: grid;
        }
    </style>
</head>
<body>
    <a href="/">Home</a>
    <form action="/docs/save" method="post">
<input type="text" name="doc_name" value="" size="77"/>
<br>
<textarea name="doc_data" cols="80" rows="45"></textarea>
<input type="submit"/>
    </form>
</body>
