// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.my-table {
    width: 100%;
    border: none;
}

.scrollable {
    overflow: auto;
}

.hidden-button {
    width: 32px;
}

.hidden-button a {
    opacity: 0;
}

.hidden-button img {
    opacity: 0;
}

.free-area:hover a {
    opacity: 0.5;
}

.free-area:hover img {
    opacity: 0.5;
}

.contents-element:hover {
    background-color: gray;
}

.hidden-button:hover a {
    opacity: 1;
}

.hidden-button:hover img {
    opacity: 1;
}

.hidden-button-right {
    width: 32px;
    float: right;
}

.hidden-button-right a {
    opacity: 0;
}

.hidden-button-right:hover a {
    opacity: 1;
}

.down {
    position: fixed;
    bottom: 30px;
}

.up {
    position: fixed;
    top: 40px;
}

.fixed {
    position: fixed;
}

.pagetext {
    word-wrap: break-word;
    text-align: justify;
    text-align-last: justify;
}

.start {
    text-indent: 25px;
}

.last:after {
    content: "";
    display: inline-block;
    width: 100%;
}

.epigraph {
    word-wrap: break-word;
    font-style: italic;
    text-align: right;
}

.section0 {
    font-size:20px;
    text-align: center;
}

.section1 {
    font-size:24px;
    text-align: center;
}

.section2 {
    font-size:30px;
    font-weight: bold;
    text-align: center;
}

.section3 {
    font-size:40px;
    font-weight: bold;
    text-align: center;
}

textarea {
    word-wrap: break-word;
}
