<div id="become_a_guide_promo">
<div style="height: 10vh"></div>
<font style="font-size:24pt;"><center>
    Become a guide in your city and earn money with Guider!<br>
    Three simple steps and you're on:<br>
</center>
</font>
<font style="font-size:18pt;">
<div id="listlist">
<ul>
    <li>Login or register (top right corner)</li>
    <li>Add your favourite city route</li>
    <li>Wait for requests (which will be soon!)</li>
</ul>
</div>
</font>
<font style="font-size:24pt;"><center>
    Good luck!
</center>
</font>
</div>
